<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sungjuk2">
    <insert id="insertSungJuk" statementType="PREPARED"
            parameterType="_01_18_02_SungJuk2.SungJuk_VO">
        insert into Sungjuk (#{name},#{kor},#{eng},#{mat},#{tot},#{mean},#{grd})
    </insert>

    <select id="selectSungJuk" statementType="PREPARED"
            parameterType="_01_18_02_SungJuk2.SungJuk_VO">
        select sjno,name,kor,eng,mat,regdate from Sungjuk order by sjno desc
    </select>

    <select id="selectOneSungJuk" statementType="PREPARED"
            parameterType="String">
        select * from Sungjuk where sjno= #{sjno}
    </select>

    <update id="updateSungJuk" statementType="PREPARED"
            parameterType="_01_18_02_SungJuk2.SungJuk_VO">
        update Sungjuk set kor=#{kor},eng=#{eng},mat=#{mat},tot=#{tot},mean=#{mean},grd=#{grd},regdate=sysdate() where sjno=#{sjno}
    </update>

    <delete id="deleteSungJuk" statementType="PREPARED"
            parameterType="String">
        delete from Sungjuk where sjno=#{sjno}
    </delete>

    public static String insertEmp =
    "insert into employees (first_name, last_name, email, phone_number, hire_date) " +
    "values (?,?,?,?,?)";

    public static String selectEmp =
    "select employee_id, first_name, last_name, email, phone_number, hire_date from employees " +
    "order by employee_id";

    public static String selecetOneEmp =
    "select employee_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id from employees " +
    "where employee_id = ?";

    public static String updateEmp =
    "update employees set first_name = ?, last_name = ?, email = ?, phone_number = ? where employee_id = ?";

    public static String deleteEmp =
    "delete from employees where employee_id = ?";


</mapper>